<div class="col-md-12" ng-controller="AddSavingInvestmentController">
    <ul class="breadcrumb">
    </ul>
    <form name="createinvestmentform" novalidate="" class="form-horizontal well" rc-submit="submit()">
        <api-validate></api-validate>
        <fieldset>
            <legend>Saving Investment Mapping </legend>
            <div class="form-group">
                <label class="control-label col-sm-2">Client Name</label>
                <div class="col-sm-3">
                    <select chosen="clients" id="id" ng-model="formData.id"  class="form-control"
                            ng-change="selectLoans(formData.id)"
                            ng-options="client.id as client.displayName for client in clients" value="{{client.id}}">
                        <option value="">--Select client --</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">Available Loans</label>
                <div class="col-sm-3">
                    <select chosen="loans" ng-model="formData.Id"  class="form-control"
                            ng-options="ln.Id as ln.productName for ln in loans" value="{{ln.Id}}">
                        <option value="">--Select Loans --</option>
                    </select>
                </div>
                <div class="col-md-1">
                    <a class="btn bg-primary" ng-click='addInvestment(formData.Id)'><i class="icon-plus"></i></a>
                </div>
            </div>

            <div class="form-group">
                <table class="table " style="table-layout: fixed;">
                    <thead>
                        <tr class="graybg">
                           <th> Client Name </th>
                           <th> Loan Product Name</th>
                           <th> Loan Account No  </th>
                           <th> Loan Amount</th>
                         </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="investment in savingInvestment">
                        <td>{{investment.name}}</td>
                        <td> {{investment.productname}}</td>
                        <td>{{investment.accountno}}</td>
                        <td> {{investment.loanammount}}</td>
                       </tr>
                    </tbody>
                </table>
            </div>

            <div class="col-md-offset-5">
                <button class="btn btn-primary" ng-click="gotoBack()"> Cancle</button>
                <button id="save" type="submit" ng-click="submitData()" class="btn btn-primary"  ng-hide="blockUI">{{'label.button.save' | translate}}</button>
                <button class="btn btn-info" ng-show="blockUI"><strong>{{'label.button.processing' | translate}}</strong></button>
            </div>
        </fieldset>
    </form>
</div>
